h1, .h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
}

h2, .h2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

h3, .h3 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
}

h4, .h4 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

h5, .h5 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
}

h6, .h6 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
}

.type-body-xl {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.type-body-large {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.type-body-med {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.type-small {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.type-xsmall {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}

.light-weight {
  font-weight: 300;
}

.med-weight {
  font-weight: 500;
}

.semi-bold-weight {
  font-weight: 600;
}

.bold-weight {
  font-weight: 700;
}

.monospace-large {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.monospace-med {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.monospace-small {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.monospace-xsmall {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
}

body {
  font-family: "Inter", sans-serif;
  color: #292B2D;
}

a {
  text-decoration: underline;
  color: #292B2D;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

button {
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding: none;
}

.max-width {
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
}

nav {
  background-color: #F0F2F5;
  border-bottom: 1px solid #CED0D2;
  box-sizing: border-box;
}
nav .waffle {
  padding: 12px 32px;
  border-right: 1px solid #CED0D2;
}
nav .waffle:hover {
  background-color: #DFE1E3;
}
nav .waffle svg {
  width: 32px;
  height: 32px;
}
nav .logo {
  padding: 12px 32px;
}
nav .logo img {
  width: 32px;
  height: 32px;
}
nav .tab {
  padding: 16px;
  text-decoration: none;
  height: 100%;
}
nav .tab:hover {
  background-color: #DFE1E3;
}
nav .tab.active {
  border-top: 4px solid #292B2D;
  padding-top: 12px;
}
nav .global-search {
  padding: 16px 32px;
  background-color: transparent;
  border: none;
  border-right: 1px solid #CED0D2;
  color: #292B2D;
  border-radius: 0;
}
nav .global-search:hover {
  background-color: #DFE1E3;
}
nav .profile-menu {
  padding: 8px 32px;
  background-color: transparent;
  border: none;
  color: #292B2D;
  border-radius: 0;
}
nav .profile-menu:hover {
  background-color: #DFE1E3;
}

footer {
  background-color: #F0F2F5;
  border-top: 1px solid #CED0D2;
  box-sizing: border-box;
  margin-top: 80px;
}
footer .legal-links a:first-child {
  border-right: 1px solid #292B2D;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F0F2F5;
  border-radius: 2px;
  padding: 16px 24px;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.alert .left svg {
  width: 20px;
  height: 20px;
}
.alert.closed {
  height: 0;
  opacity: 0;
  pointer-events: none;
  margin: 0;
  padding: 0 24px;
}
.alert.closed div {
  height: 0;
  opacity: 0;
}
.alert.info {
  background-color: #DFF9FF;
}
.alert.info .left svg path {
  fill: #0995D4;
}
.alert.success {
  background-color: #DEFFD6;
}
.alert.success .left svg path {
  fill: #30A233;
}
.alert.warning {
  background-color: #FFF1D4;
}
.alert.warning .left svg path {
  fill: #B07600;
}
.alert.error {
  background-color: #FFE6E0;
}
.alert.error .left svg path {
  fill: #D8332E;
}
.alert.muted {
  background-color: #292B2D;
  color: #ffffff;
}
.alert.muted .left svg path {
  fill: #ffffff;
}
.alert.muted .right a {
  color: #ffffff;
}
.alert .left {
  display: flex;
  align-items: center;
}
.alert .left h4 {
  margin: 0 16px;
}
.alert .right {
  display: flex;
  align-items: center;
}
.alert .right .close-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  padding: 0;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  background-color: #DFE1E3;
  color: #292B2D;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.avatar.large {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 20px;
}
.avatar.med {
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
}
.avatar.small {
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
}
.avatar.icon svg, .avatar.icon img {
  width: 24px;
  height: 24px;
}
.avatar.icon.large svg, .avatar.icon.large img {
  width: 16px;
  height: 16px;
}
.avatar.icon.med svg, .avatar.icon.med img {
  width: 12px;
  height: 12px;
}
.avatar.icon.small svg, .avatar.icon.small img {
  width: 12px;
  height: 12px;
}
.avatar.image {
  background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.avatar-stack {
  display: flex;
  align-items: center;
}
.avatar-stack .avatar {
  margin-left: -8px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
}
.avatar-stack .avatar:first-child {
  margin-left: 0;
}
.avatar-stack .avatar.small, .avatar-stack .avatar.med {
  margin-left: -4px;
  border-width: 1px;
}

.btn {
  border-radius: 4px;
  background: transparent;
  border: 2px solid #006A88;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #006A88;
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Inter", sans-serif;
}
.btn:hover {
  background-color: #F0F2F5;
}
.btn:focus {
  outline: 4px solid #93E8FF;
}
.btn:active {
  background-color: #DFE1E3;
}
.btn:disabled {
  background-color: #F0F2F5;
  color: #BBBDBF;
  pointer-events: none;
  border: 2px solid #BBBDBF;
}
.btn.outline {
  padding: 6px 14px;
}
.btn.primary {
  background-color: #006A88;
  color: #ffffff;
  border: none;
}
.btn.primary:hover {
  background-color: #00394B;
  box-shadow: 0px 2px 4px rgba(11, 13, 14, 0.25);
}
.btn.primary:active, .btn.primary:focus {
  background-color: #00394B;
}
.btn.primary:disabled {
  background-color: #F0F2F5;
  color: #BBBDBF;
  pointer-events: none;
  border: none;
}
.btn.transparent {
  color: #292B2D;
  border: none;
}
.btn.transparent:hover {
  background-color: #F0F2F5;
}
.btn.transparent:active, .btn.transparent:focus {
  background-color: #DFE1E3;
}
.btn.transparent:disabled {
  background-color: #F0F2F5;
  color: #BBBDBF;
  pointer-events: none;
  border: none;
}
.btn.tonal {
  color: #292B2D;
  border: none;
  background-color: #F0F2F5;
}
.btn.tonal:hover {
  background-color: #DFE1E3;
  box-shadow: 0px 2px 4px rgba(11, 13, 14, 0.25);
}
.btn.tonal:active, .btn.tonal:focus {
  background-color: #DFE1E3;
}
.btn.tonal:disabled {
  background-color: #F0F2F5;
  color: #BBBDBF;
  pointer-events: none;
  border: none;
}
.btn.elevated {
  color: #292B2D;
  border: none;
  background-color: #F0F2F5;
  box-shadow: 0px 2px 4px rgba(11, 13, 14, 0.25);
}
.btn.elevated:hover {
  background-color: #DFE1E3;
  box-shadow: 0px 4px 8px rgba(11, 13, 14, 0.25);
}
.btn.elevated:active, .btn.elevated:focus {
  background-color: #DFE1E3;
}
.btn.elevated:disabled {
  background-color: #F0F2F5;
  color: #BBBDBF;
  pointer-events: none;
  border: none;
}
.btn.text {
  color: #006A88;
  border: none;
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  border-radius: 4;
}
.btn.text:hover {
  color: #00394B;
}
.btn.text:active, .btn.text:focus {
  background-color: transparent;
}
.btn.text:disabled {
  background-color: transparent;
  color: #BBBDBF;
  pointer-events: none;
  border: none;
}
.btn.destructive {
  background-color: #A0191A;
  color: #ffffff;
  border: none;
}
.btn.destructive:hover {
  background-color: #6C0007;
  box-shadow: 0px 2px 4px rgba(11, 13, 14, 0.25);
}
.btn.destructive:active, .btn.destructive:focus {
  background-color: #6C0007;
}
.btn.destructive:focus {
  outline: 4px solid #FFA99B;
}
.btn.destructive:disabled {
  background-color: #F0F2F5;
  color: #BBBDBF;
  pointer-events: none;
  border: none;
}/*# sourceMappingURL=style.css.map */