@import "./variables";
// @import "./atoms";

// HEADERS
h1, .h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
}
h2, .h2{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}
h3, .h3{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
}
h4, .h4{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}
h5, .h5{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
}
h6, .h6{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
}

// TYPE
.type-body-xl{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.type-body-large{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.type-body-med{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.type-small{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.type-xsmall{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

.light-weight { 
    font-weight: 300;
}
.med-weight { 
    font-weight: 500;
}
.semi-bold-weight { 
    font-weight: 600;
}
.bold-weight { 
    font-weight: 700;
}

// MONOSPACE
.monospace-large{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.monospace-med{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.monospace-small{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.monospace-xsmall{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
}

// DEFAULT STYLES

body {
    font-family: 'Inter', sans-serif;
    color: $gray-80;
}

a {
    text-decoration: underline;
    color: $gray-80;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

button{
    font-weight: 500;
    background-color: transparent;
    border: none;
    padding: none;
}

.max-width{
    max-width: 1400px;
    width: 100%;
    box-sizing: border-box;
}

// NAV

nav{
    background-color: $gray-10;
    border-bottom: 1px solid $gray-30;
    box-sizing: border-box;

    .waffle{
        padding: 12px 32px;
        border-right: 1px solid $gray-30;

        &:hover{
            background-color: $gray-20;
        }
        svg{
            width: 32px;
            height: 32px;
        }
    }

    .logo {
        padding: 12px 32px;
        img{
            width: 32px;
            height: 32px;
        }
    }

    .tab{
        padding: 16px;
        text-decoration: none;
        height: 100%;
        
        &:hover{
            background-color: $gray-20;
        }

        &.active{
            border-top: 4px solid $gray-80;
            padding-top: 12px;
        }
    }

    .global-search{
        padding: 16px 32px;
        background-color: transparent;
        border: none;
        border-right: 1px solid $gray-30;
        color: $gray-80;
        border-radius: 0;

        &:hover{
            background-color: $gray-20;
        }
    }

    .profile-menu{
        padding: 8px 32px;
        background-color: transparent;
        border: none;
        color: $gray-80;
        border-radius: 0;
        
        &:hover{
            background-color: $gray-20;
        }
    }
}

// FOOTER

footer{
    background-color: $gray-10;
    border-top: 1px solid $gray-30;
    box-sizing: border-box;
    margin-top: 80px;

    .legal-links{
        a:first-child {
            border-right: 1px solid $gray-80;
        }
    }
}

// ALERTS

.alert{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $gray-10;
    border-radius: 2px;
    padding: 16px 24px;
    transition: $transition;

    &.closed{
        height: 0;
        opacity: 0;
        pointer-events: none;
        margin: 0;
        padding: 0 24px;
        

        div{
            height: 0;
            opacity: 0;
        }
    }

    &.info{
        background-color: $info-10;

        .left{
            svg path{
                fill: $info-60;
            }
        }
    }
    &.success{
        background-color: $success-10;
        
        .left{
            svg path{
                fill: $success-60;
            }
        }
    }
    &.warning{
        background-color: $warning-10;

        .left{
            svg path{
                fill: $warning-60;
            }
        }
    }
    &.error{
        background-color: $error-10;

        .left{
            svg path{
                fill: $error-60;
            }
        }
    }
    &.muted{
        background-color: $gray-80;
        color: $gray-0;
        
        .left{
            svg path{
                fill: $gray-0;
            }
        }

        .right{
            a{
                color: $gray-0;
            }
        }
    }

    .left{
        display: flex;
        align-items: center;

        h4 {
            margin: 0 16px;
        }
    }

    .right{
        display: flex;
        align-items: center;

        .close-alert{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 16px;
            padding: 0;
            cursor: pointer;
        }
    }
}

// AVATARS

.avatar {
    border-radius: 50%;
    background-color: $gray-20;
    color: $gray-80;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    &.large{
        width: 24px;
        height: 24px;
        font-size: 14px;
        line-height: 20px;
    }
    
    &.med{
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
    }
    
    &.small{
        width: 16px;
        height: 16px;
        font-size: 10px;
        line-height: 16px;
    }

    &.icon{
        svg, img{
            width: 24px;
            height: 24px;
        }
        &.large{
            svg, img{
                width: 16px;
                height: 16px;
            }
        }
        
        &.med{
            svg, img{
                width: 12px;
                height: 12px;
            }
        }
        
        &.small{
            svg, img{
                width: 12px;
                height: 12px;
            }
        }
    }

    &.image{
        background-image: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
}

.avatar-stack{
    display: flex;
    align-items: center;

    .avatar{
        margin-left: -8px;
        box-sizing: border-box;
        border: 2px solid $gray-0;

        &:first-child{
            margin-left: 0;
        }
       
        &.small, &.med{
            margin-left: -4px;
            border-width: 1px;
        }
    }
}

// BUTTONS
.btn{
    border-radius: 4px;
    background: transparent;
    border: 2px solid $action-70;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $action-70;
    transition: $transition;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: fit-content;
    font-family: 'Inter', sans-serif;

    &:hover{
        background-color: $gray-10;
    }

    &:focus{
        outline: 4px solid $info-30;
    }

    &:active{
        background-color: $gray-20;
    }

    &:disabled{
        background-color: $gray-10;
        color: $gray-40;
        pointer-events: none;
        border: 2px solid $gray-40;
    }

    &.outline{
        padding: 6px 14px;
    }

    &.primary{
        background-color: $action-70;
        color: $gray-0;
        border: none;

        &:hover{
            background-color: $action-80;
            box-shadow: $shadow-2;
        }

        &:active, &:focus{
            background-color: $action-80;
        }

        &:disabled{
            background-color: $gray-10;
            color: $gray-40;
            pointer-events: none;
            border: none;
        }
    }

    &.transparent{
        color: $gray-80;
        border: none;

        &:hover{
            background-color: $gray-10;
        }

        &:active, &:focus{
            background-color: $gray-20;
        }

        &:disabled{
            background-color: $gray-10;
            color: $gray-40;
            pointer-events: none;
            border: none;
        }
    }
    
    &.tonal{
        color: $gray-80;
        border: none;
        background-color: $gray-10;

        &:hover{
            background-color: $gray-20;
            box-shadow: $shadow-2;
        }

        &:active, &:focus{
            background-color: $gray-20;
        }

        &:disabled{
            background-color: $gray-10;
            color: $gray-40;
            pointer-events: none;
            border: none;
        }
    }

    &.elevated{
        color: $gray-80;
        border: none;
        background-color: $gray-10;
        box-shadow: $shadow-2;

        &:hover{
            background-color: $gray-20;
            box-shadow: $shadow-4;
        }

        &:active, &:focus{
            background-color: $gray-20;
        }

        &:disabled{
            background-color: $gray-10;
            color: $gray-40;
            pointer-events: none;
            border: none;
        }
    }
    
    &.text{
        color: $action-70;
        border: none;
        background-color: transparent;
        padding: 0;
        text-decoration: underline;
        border-radius: 4;

        &:hover{
            color: $action-80;
        }

        &:active, &:focus{
            background-color: transparent;
        }

        &:disabled{
            background-color: transparent;
            color: $gray-40;
            pointer-events: none;
            border: none;
        }
    }

    &.destructive{
        background-color: $error-70;
        color: $gray-0;
        border: none;

        &:hover{
            background-color: $error-80;
            box-shadow: $shadow-2;
        }

        &:active, &:focus{
            background-color: $error-80;
        }

        &:focus{
            outline: 4px solid $error-30;
        }

        &:disabled{
            background-color: $gray-10;
            color: $gray-40;
            pointer-events: none;
            border: none;
        }
    }
}